DevKeep.code-workspace
/Proxy/node_modules
/Platform/server/node_modules
/Platform/html/node_modules
/Platform/delete
/Platform/html/dist
/Platform/html/tests
/Platform/server/out
/Platform/server/test